<h1 style="font-size: 40px; color: ivory;"><strong>Manager</strong></h1>
<br>
<button mat-raised-button style="background-color: indianred;" (click)="loadUsers()" class="btn btn-secondary">Load
    Users</button>
<button mat-raised-button style="background-color: indianred;" (click)="loadDrivers()" class="btn btn-secondary">Load
    Drivers</button>
<button mat-raised-button style="background-color: indianred;" (click)="redirect()" class="btn btn-secondary">
    Return</button>
<br>
<div class="list-container">
    <mat-list>
        <h2>Users:</h2>
        <mat-list-item *ngFor="let user of users;"> {{user.name}} {{user.value}}</mat-list-item>
    </mat-list>
</div>