#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    /* padding-left: 10px; */
  }

  #right-panel select, #right-panel input {
    font-size: 15px;
  }



  #right-panel select {
      /* height: 100px; */
    width: 100%;
    background-color: grey;
  }

  #right-panel strong,em {
    color: antiquewhite;
    font-style: bold;
  }

  #right-panel em {
    font-size: 12px;
  }

  #body {
    background-color: lightgoldenrodyellow;
  }
  #map {
    height: 100%;
    /* float: right; */
    width: 100%;
  }
  #right-panel {
    /* margin: 20px; */
    width: 100%;
    height: 100%;
    /* float: left; */
    text-align: start;
  }
  #directions-panel {
    background-color: rgb(255, 162, 119);
    overflow: scroll;
    height: 450px;
    width: 100%;
  }
  .btn-secondary {
    margin-left: 430px;
    margin-bottom: 3px;
    align-content: flex-end;
  }

  .btn-primary {
    margin-bottom: 3px;
  }

  .btn-third {
    margin-bottom: 3px;
    color: black;
  }